.featuredproducts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color:rgb(3, 62, 126);
}

.featuredimage {
    width: 200px;
    height: 200px;
    padding: 20px; 
}   


