.product {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: fit-content;
}
.itemname {
    text-align: center;
    margin: none;
}
.btmproduct {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}

.image {
    height: 144px;
}

.root {
    max-width: 345px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pN {
    display: flex;
    flex-direction: row;
    justify-content: center;
}