.homecontainer {
    display: flex;
    flex-direction:column;
    justify-content: center;

}

.newarr {
    background-color: #023E7E;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
}

