.container {
    display: block;
    align-items: center;
    position: fixed;
    top: 50%;
    width: 47px;
    background-color: rgb(105, 238, 101);
    padding-top: 5px;  
}

.socialicon {
    color: white;
    padding: 12px;
}

