.beatleslogo {
  height: 8vh;
  pointer-events: none;
  
}


.navbar {
  display: flex;
  justify-content: space-evenly;
}

.left_header > input {
  /* border: none; */
  width: 100%;
  }

  #textBox {
    margin-top: 0.5vh;
    height: 25px;
  }
  
  .left_header {
  flex: 0.5;
  min-width: 70px;
  background-color: white;
  color: grey;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  }