/* CSS Pancake layout */
.parent {
  flex-direction: column;
  display: grid;
  margin: 0px;
  padding: 20px;
  grid-template-rows: auto 1fr auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* width: 100vw;
    height: 100vh; */
 }

.header_section {
  flex-grow: 4;
}


.left_header > input {
  color: white;
  border: none;
  width: 50%;
}



.left_header {
  flex: 0.3;
  min-width: 50px;
  background-color: #023E7E;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}
  
.search {
    background-color:#023E7E;
    color: white;
}

.body_section{
  height: flex;
  padding: 0, 0, 100 ,100px;
}

/* .Socialbar{
  align-self: auto | flex-start;
} */
  
.footer_section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}  
  
 