/* .searchproduct {
    display: flex;
    justify-content: row    ;
    flex-wrap: wrap;
}

.productcontainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: min-content;
    
}

.image  {
    height: 200px;
    padding: 20px;
}
.productname {
   
    text-align: center;
    margin: none;
    
}
.btmproduct {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
} */

.content {
    flex-grow: 1;
    padding-top: 120px;
    padding-bottom: 30px;
    display: block;
}

.root {
    flex-grow: 1;
}

.MuiCardMedia-root {
    margin: 100px;
}

